<h2 mat-dialog-title>
  {{ modo === 'crear' ? 'Agregar Producto' :
     modo === 'editar' ? 'Editar Producto' :
     'Detalle del Producto' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="formulario" class="formulario">

    @if (modo !== 'crear') {
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" readonly>
      </mat-form-field>
    }

    <mat-form-field appearance="outline">
      <mat-label>Nombre del producto</mat-label>
      <input matInput formControlName="nombreProducto" [readonly]="modo === 'ver'">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Precio unitario</mat-label>
      <input matInput type="number" step="0.01" formControlName="precioProducto" [readonly]="modo === 'ver'">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Proveedor</mat-label>
      <mat-select formControlName="proveedorId">
        @for (proveedor of proveedores; track proveedor.id) {
          <mat-option [value]="proveedor.id">
            {{ proveedor.nombreProveedor }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cancelar</button>

  @if (modo !== 'ver') {
    <button mat-raised-button color="primary" (click)="guardar()">
      Guardar
    </button>
  }
</mat-dialog-actions>